/BubbleSort.class
/EuclidsAlgorithm.class
/FactorialRec.class
/Factors.class
/FibWithMemorization.class
/Insert.class
/InsertionSort.class
/Majority.class
/MergeSort.class
/ModularExponent.class
/Power.class
/PrimeFactors.class
/QuickSort.class
/SelectionSort.class
/SieveAlgorithm.class
